<!-- app/views/vehicles/show.html.erb -->
<h2>Veículo - ID <%= @vehicle.id %></h2>

<p>
  <strong>ID:</strong>
  <%= @vehicle.id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @vehicle.kind %>
</p>
